# Sippets for all files

snippet modeline "Vim modeline" b
${1:#} vim: set tabstop=$2 shiftwidth=$2 expandtab:$0
endsnippet

#
#
#
# Blank lines to stop the modeline snippet being read as a modeline :-)
