
snippet today "## YYYY MM DD" b
## `!v strftime("%Y %m %d")` - \`${1}\`
$0
endsnippet

snippet vx "Quoted variable, ${...}"
"${$1}"
endsnippet

snippet fence "```language.....```" b
\`\`\`${1}
$0
\`\`\`
endsnippet

snippet ilc "In line code (`...`)"
\`${1}\`$0
endsnippet
